.progressbar-slider {
  position: sticky;
  top: 56px;
  height: 5px;
  overflow-x: hidden;
  z-index: 1;
}

.progressbar-line {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.progressbar-progress {
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: var(--primary-color-darker);
}

.progressbar-increase {
  animation: increase 2s infinite;
}

.progressbar-decrease {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
