:root {
  --primary-color: #00a0d7;
  --primary-color-darker: #008dbe;
  --primary-color-ligther: #e5f5fb;
  --background-color: #f4f4f4;
  --complementary-color: #d73700;
  --analogous-color: #00d7a3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  margin: 2rem 0;
}

.flag {
  font-size: xx-large;
}

.cursor {
  cursor: pointer;
}
